.message-bubble{
    margin: .25rem 0 .25rem;
    padding: 1rem;
    width: fit-content;
    height: fit-content;
    max-width: 70%;
    z-index: 100;
}

.message-bubble-user{
    display:flex;
    align-items:center;
    gap: .5rem;
    font-weight: 800;
}

.message-bubble-message {
    margin: .5rem 0;
    padding: 1rem;
    background-color: #4a4a4a;
    border-radius: 5px;
}

.message-bubble-response {
    width: auto;
    justify-self: flex-start; /* Align to the right for responses */
}

.message-bubble-prompt {
    align-self: flex-end;
    width: auto;
}

.message-bubble-prompt > .message-bubble-user {
    text-align: right;
}
