.message-bubble{
    background-color: #4a4a4a;
    border-radius: 5px;
    border: #fefefe70 solid 2px;
    margin: .5rem 0;
    padding: 1rem;
    width: fit-content;
    height: fit-content;
    max-width: 70%;
    z-index: 100;
}

.message-bubble-response {
    justify-self: flex-start; /* Align to the right for responses */
}

.message-bubble-prompt {
    align-self: flex-end;
}
