.loading-screen-container{
    padding: 1rem;
    margin: auto;
    width: 90%;
    height: 88dvh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    font-family: 'Georgia', serif;
    font-size: 40px;
    line-height: 1.5;
    font-style: oblique;
    text-align: center;
    margin: 20px;
    padding: 20px;
    color: #ffffff;
    border-left: 4px solid #959595;
    background-color: #3d3d3d;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.author {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    text-align: right;
    margin-top: 10px;
    color: #666;
}


@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95) translateX(0); }
    to { opacity: 1; transform: scale(1) translateX(0); }
}

@keyframes fadeOut {
    from { opacity: 1; transform: scale(1) translateX(0); }
    to { opacity: 0; transform: scale(1.05) translateX(0); }
}

@keyframes shake {
    5%, 15%, 25%, 35%, 45% { transform: rotate(-5deg); }
    10%, 20%, 30%, 40%, 50% { transform: rotate(5deg); }
}

.quote {
    animation: fadeIn 1s ease-in;
}

.quote.fadeIn {
    animation: shake 1s ease-in, fadeIn 1s ease-in;
}

.quote.fadeOut {
    animation: shake 1s ease-out, fadeOut 1s ease-out 1s;
}

.loading-screen-footer{
    font-weight: 800;
    font-size: 18px;
}