.loading-animation {
    position: relative;
    top: 20px;
    left: 22px;
    width: fit-content;
    background-color: transparent;
 }

 .is-typing {
    width: fit-content;
    justify-content: space-around;
    display: flex;
    height: 20px;
 }

 .jump1,
 .jump2,
 .jump3,
 .jump4,
 .jump5 {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    margin: .2rem;
    background-color: #fefefe;
 }

 .jump1 {
    animation: typing 1s linear infinite;
    animation-delay: .5s;
 }

 .jump2 {
    animation: typing 1s linear infinite;
    animation-delay: .6s;
 }

 .jump3 {
    animation: typing 1s linear infinite;
    animation-delay: .7s;
 }

 .jump4 {
    animation: typing 1s linear infinite;
    animation-delay: .8s;
 }

 .jump5 {
    animation: typing 1s linear infinite;
    animation-delay: .9s;
 }

@keyframes typing {
0% {
   transform: translateY(0px);
}

25% {
   transform: translateY(0px);
}

35% {
   transform: translateY(10px);
}

45% {
   transform: translateY(0px);
}

60% {
   transform: translateY(-10px);
}

75% {
     background-color: white;
   transform: translateY(0px);
}

100% {
   transform: translateY(0px);
}
}
