.loading-animation {
    position: relative;
    top: 5px;
    margin: .25rem 0 .25rem;
    padding: 1rem;
    width: fit-content;
    height: fit-content;
    max-width: 70%;
    background-color: #4a4a4a;
    width: fit-content;
    border-radius: 5px;
    display: flex;
   justify-content: center;
   align-items: center;
 }

 .is-typing {
   position: relative;
    width: fit-content;
    justify-content: space-around;
    display: flex;
    height: 20px;
   top: 5px;
 }

 .jump1,
 .jump2,
 .jump3,
 .jump4,
 .jump5 {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    margin: .2rem;
    background-color: #fefefe;
    animation-delay: 1.5s;
 }

 .jump1 {
    animation: typing 1s linear infinite;
    animation-delay: .5s;
 }

 .jump2 {
    animation: typing 1s linear infinite;
    animation-delay: .6s;
 }

 .jump3 {
    animation: typing 1s linear infinite;
    animation-delay: .7s;
 }

 .jump4 {
    animation: typing 1s linear infinite;
    animation-delay: .8s;
 }

 .jump5 {
    animation: typing 1s linear infinite;
    animation-delay: .9s;
 }

@keyframes typing {
0% {
   transform: translateY(0px);
}

25% {
   transform: translateY(0px);
}

35% {
   transform: translateY(10px);
}

45% {
   transform: translateY(0px);
}

60% {
   transform: translateY(-10px);
}

75% {
     background-color: white;
   transform: translateY(0px);
}

100% {
   transform: translateY(0px);
}
}
